{% macro book_form(categories, url, current_user, new_genres, book={}, is_edit=False) %}
<form action="{{ url }}" method="post" enctype="multipart/form-data" class="mt-4">
    <div class="form-group mb-3">
        <label for="title">Название</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ book.title or '' }}" required>
    </div>
    {% if not is_edit %}
    <div class="form-group mb-3">
        <label for="cover_img">Обложка</label>
        <input type="file" class="form-control-file" id="cover_img" name="cover_img">
    </div>
    {% endif %}
    <div class="form-group mb-3">
        <label for="description">Описание</label>
        <textarea class="form-control" id="description" name="description">{{ book.description or '' }}</textarea>
    </div>
    <div class="form-group mb-3">
        <label for="publication_year">Год написания</label>
        <input type="text" class="form-control" id="publication_year" name="publication_year" value="{{ book.publication_year or '' }}" required>
    </div>
    <div class="form-group mb-3">
        <label for="publisher">Издательство</label>
        <input type="text" class="form-control" id="publisher" name="publisher" value="{{ book.publisher or '' }}" required>
    </div>
    <div class="form-group mb-3">
        <label for="writer">Автор</label>
        <input type="text" class="form-control" id="writer" name="writer" value="{{ book.writer or '' }}" required>
    </div>
    <div class="form-group mb-3">
        <label for="pages">Количество страниц</label>
        <input type="number" class="form-control" id="pages" name="pages" value="{{ book.pages or '' }}" required>
    </div>
    <div class="form-group mb-3">
        <label>Жанры</label>
        <div>
            {% if categories %}
                {% for category in categories %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="genre_{{ category.id }}" name="category_ids" value="{{ category.id }}" {% if category.id|string in new_genres %}checked{% endif %}>
                    <label class="form-check-label" for="genre_{{ category.id }}">
                        {{ category.category_name }}
                    </label>
                </div>
                {% endfor %}
            {% else %}
                <p>Нет доступных жанров.</p>
            {% endif %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
</form>
<script>
    new EasyMDE({ element: document.getElementById('description') });
</script>
{% endmacro %}
