{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-sm rounded-3">
                <img src="{% if book.cover_image %}{{ url_for('serve_image', image_id=book.cover_image) }}{% else %}path/to/default-image.jpg{% endif %}" class="card-img-top img-fluid rounded-top" alt="Обложка книги">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card shadow-sm p-4 rounded-3">
                <h2 class="card-title">{{ book.title }}</h2>
                <p class="card-text"><strong class="text-primary">Издательство:</strong> {{ book.publisher }}</p>
                <p class="card-text"><strong class="text-primary">Автор:</strong> {{ book.writer }}</p>
                <p class="card-text"><strong class="text-primary">Описание:</strong> <span>{{ book.description | safe }}</span></p>
                <p class="card-text"><strong class="text-primary">Год написания:</strong> {{ book.publication_year }}</p>
                <p class="card-text"><strong class="text-primary">Объём (в страницах):</strong> {{ book.pages }}</p>
                <p class="card-text"><strong class="text-primary">Жанр(ы):</strong>
                    <ul class="list-unstyled">
                        {% for genre in categories %}
                        <li><span class="badge bg-secondary">{{ genre.category_name }}</span></li>
                        {% endfor %}
                    </ul>
                </p>
                <p class="card-text"><strong class="text-primary">Средняя оценка пользователей:</strong> {{ book.rating }}</p>
                <p class="card-text"><strong class="text-primary">Количество рецензий:</strong> {{ book.ratings_count }}</p>
                {% if current_user.is_authenticated and not comment %}
                <a class="btn btn-primary mt-4" href="{{ url_for('comments.comment_post', book_id=book.id) }}">Написать рецензию</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h4>Рецензии:</h4>
        {% if not all_comments and not comment %}
        <p class="text-muted">Рецензий пока нет</p>
        {% endif %}
        
        {% if current_user.is_authenticated and comment %}
        <div class="card mb-3 shadow-sm rounded-3">
            <div class="card-body">
                <h5 class="card-title">Ваша рецензия <span class="badge bg-primary">{{ comment.score }}</span></h5>
                <p class="card-text">{{ comment.comment | safe }}</p>
            </div>
        </div>
        {% endif %}

        {% for com in all_comments %}
        <div class="card mb-3 shadow-sm rounded-3">
            <div class="card-body">
                <h5 class="card-title">User {{ com.user_id }} <span class="badge bg-primary">{{ com.score }}</span></h5>
                <p class="card-text">{{ com.comment | safe }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
